
body {
  padding: 20px;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app-container {
  .header-container {
      .navbar {
        z-index: 5;
        opacity: 0.6;
        font-weight: 500;
        .navbar-nav{
          .nav-link {
            color: black;
            &.active{
              color: rgb(255, 170, 0);
            }
          }
        }
      }
  }
}

video {
  position: fixed;
  bottom: 0;

  width: 100vw;
}